{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-xs-12 col-md-offset-3 col-md-6 text-center">
        <h1>Création d'un atelier</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-success btn-block" value="Créer l'atelier"/>
        {{ form_end(form) }}
        <br/>
        <a class="btn btn-default btn-block" href="{{ path('workshop_list') }}">Revenir à mes ateliers</a>
    </div>

{% endblock %}