{% extends 'base.html.twig' %}

{% block body %}
<section class="container text-center">
    <div class="col-xs-12">
        <img src="images/mnms-logo.png" alt="Logo de MNMS">
    </div>
    <div class="col-xs-12 col-sm-offset-4 col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">MNMS</h3>
            </div>
            <div class="panel-body">
                MyNeedMySolution est une appli qui vous permet de travailler de manière innovante, en intelligence collective et de produire ensemble des résultats à la puissance inégalée. Faites entrer la magie de l'intelligence collective dans votre vie professionnelle !
            </div>
        </div>
    </div>

</section>
{% endblock %}

