{% extends 'base.html.twig' %}

{% block body %}
   

<div class="text-center">

    <h1>Participants</h1>
    <div class="btn-group-vertical btn-group-lg col-sm-offset-3 col-sm-6" role="group" aria-label="Selection">
        <button id="new" class="btn btn-secondary btn-block">Nouveau participant</button><br/>

        <button id="list" class="btn btn-secondary">Liste des participants</button><br/>

    </div>

</div>
{% endblock %}


{% block javascripts %}

    <script src="../js/user_index.js"></script>

{% endblock %}


