{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nouveau participant</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Créer"/>
    {{ form_end(form) }}

    <ul class="list-unstyled">
        <li class="form-bottom-margin">
            <a class="btn btn-default " href="{{ path('user_list') }}">Retour à la liste</a>
        </li>
    </ul>
{% endblock %}