<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="visible-xs">
                <a class="navbar-brand" href="#">MNMS</a>
            </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                         <img class="logo-navbar" src="/images/mnms-logo.png" alt="logo mnms"> 
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/profil">Profil</a>
                        </li>
                        <li>
                            <a href="/user">Répertoire</a>
                        </li>
                        <li>
                            <a href="/room">Lieux</a>
                        </li>
                        <li>
                            <a href="/workshop">Mes ateliers</a>
                        </li>
                        <li>
                            <a href="#">brouillons</a>
                        </li>
                        <li>
                            <a href="#">Mes commandes</a>
                        </li>
                        <li>
                            <a href="#">Paramètres</a>
                        </li>
                        <li>
                            <a href="#">Outils</a>
                        </li>
                        <li>
                            <a href="#">Ma box</a>
                        </li>
                        <li>
                            <a href="#">Tuto</a>
                        </li>
                    </ul>
                <li class="hidden-xs">
                    <a class="navbar-brand" href="#">My Need My Solution</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
             {% if app.user %}
                <!-- images pour mes ateliers -->
                <li class="hidden-xs">
                    <a class="" href="/workshop">
                        <i class="glyphicon glyphicon-inbox icon-navbar "></i>
                    </a>
                </li>

                <!-- image pour mon profil -->
                <li class="hidden-xs">
                    <a class="menu-profil" href="/profile">
                        <i class="glyphicon glyphicon-user icon-navbar "></i>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="glyphicon glyphicon-cog icon-navbar icon-dropdown"></i>
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">choisir une image</a>
                        </li>
                        <li>
                            <a href="#">créer des collaborateurs</a>
                        </li>
                        <li>
                            <a href="#">ce que je souhaite partager avec MNMS ou pas</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="#">adresse de facturation</a>
                        </li>
                        <li>
                            <a href="#">moyen de paiement</a>
                        </li>
                                        <li>
                    <a href="/logout">
                        <i class="glyphicon glyphicon-log-out icon-navbar icon-logout"></i>
                    </a>
                </li>
            {% else %}
                <li>
                    <a href="/login">
                        <i class="glyphicon glyphicon-log-in icon-navbar icon-logout"></i>
                    </a>
                </li>
            {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>