<div id="wrapper">
     <div class="overlay"></div>

    <!-- Sidebar -->
    <nav class="navbar  navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Profil
                </a>
            </li>
            <li>  <a href="#">Home</a>  </li>
            <li> <a href="#">About</a></li>
            <li>  <a href="#">Events</a> </li>
                        
        </ul>

    </nav>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <!-- bouton toggle sidebar -->
        <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
        </button>

        <!-- logo et titre navbar -->
        <ul class="list-unstyled">
            <li>
                <a class="navbar-brand" href="#">
                    <img id="logo_navbar" alt="logo" src="../images/mnms-logo.png">
                </a>
            </li>
            <div class="col-lg-7 text-center">
                <h2>MyNeedMySolution</h2>
            </div>
        </ul>
        
        <!-- icones à droite de la navbar -->
        <ul class="nav navbar-nav navbar-right">
            <!-- images pour mes ateliers -->
            <li>
                <div class="image_navbar">
                    <a class="" href="#">
                        <img id="image_mes_ateliers" alt="mes ateliers" src="../images/mnms-logo.png">
                    </a>
                </div>
            </li>

            <!-- image pour mon profil -->
            <li>
                <div class="image_navbar">
                    <a class="menu-profil" href="#">
                        <img id="image_entreprise" alt="image entreprise" src="../images/mnms-logo.png">
                    </a>
                </div>
            </li>

            <!-- dropdown des paramètres -->
            <li>
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Paramètres
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">choisir une image</a>
                        </li>
                        <li>
                            <a href="#">créer des collaborateurs</a>
                        </li>
                        <li>
                            <a href="#">ce que je souhaite partager avec MNMS ou pas</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="#">adresse de facturation</a>
                        </li>
                        <li>
                            <a href="#">moyen de paiement</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
            
    </div>
    <!-- /#page-content-wrapper -->

</div>









<nav class="navbar  navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <button type="button" data-toggle="#sidebar" id="sidebar-toggle" class="navbar-left navbar-toggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" style="vertical-align: middle">
                <!-- <img src="../images/mnms-logo.png" id="logo_navbar"/></a> -->
                <!-- <h2 class="navbar-text text-center text-primary" style="vertical-align:10px;font-size:medium">MNMS</h2> -->
            </div>
            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">

                    <li>
                        <div class="image_navbar">
                            <a class="" href="#">
                                <img id="image_mes_ateliers" alt="mes ateliers" src="../images/mnms-logo.png">
                            </a>
                        </div>
                    </li>

                    <!-- image pour mon profil -->
                    <li>
                        <div class="image_navbar">
                            <a class="menu-profil" href="#">
                                <img id="image_entreprise" alt="image entreprise" src="../images/mnms-logo.png">
                            </a>
                        </div>
                    </li>

                    <!-- dropdown des paramètres -->
                    <li>
                        <div class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Paramètres
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">choisir une image</a>
                                </li>
                                <li>
                                    <a href="#">créer des collaborateurs</a>
                                </li>
                                <li>
                                    <a href="#">ce que je souhaite partager avec MNMS ou pas</a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="#">adresse de facturation</a>
                                </li>
                                <li>
                                    <a href="#">moyen de paiement</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                </div>
            </div>
        </nav>

        <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
        </button>

        <!-- <div class="container-sidebar"> <div id="sidebar"> <ul> <li> <a href="#">Home</a> </li> <li> <a href="#">Explore</a> </li> <li> <a href="#">Users</a> </li> <li> <a href="#">Sign Out</a> </li> </ul> </div> </div> -->

<!-- /#wrapper -->

    <!-- <nav class="navbar navbar-default navbar-static-top" > -->
        <!-- logo  -->
        <!-- <ul class="col-lg-1 nav navbar-nav"> -->
            
            <!-- <li>
                <a class="navbar-brand" href="#">
                    <img id="logo_navbar" alt="logo" src="../images/mnms-logo.png">
                </a>
            </li>
        </ul> 
        <div class="col-lg-7 text-center" >
            <h2>MyNeedMySolution</h2>
        </div> -->
    <!-- photo de profil cliquable vers mon profil  -->
        <!-- <ul class="nav navbar-nav navbar-right">
            
            <li>
                <div class="image_navbar">
                    <a class="" href="#">
                        <img id="image_mes_ateliers" alt="mes ateliers" src="../images/mnms-logo.png">
                    </a>
                </div>
            </li>
            <li>
                <div class="image_navbar">
                    <a class="menu-profil" href="#">
                        <img id="image_entreprise" alt="image entreprise" src="../images/mnms-logo.png">
                    </a>
                </div>
            </li> -->
    <!--liste des paramètres -->
            <!-- <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Paramètres
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">choisir une image</a>
                    </li>
                    <li>
                        <a href="#">créer des collaborateurs</a>
                    </li>
                    <li>
                        <a href="#">ce que je souhaite partager avec MNMS ou pas</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="#">adresse de facturation</a>
                    </li>
                    <li>
                        <a href="#">moyen de paiement</a>
                    </li>
                </ul>
            </li> -->
        <!-- </ul> -->




        

    <!-- </nav> -->