{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-xs-12 col-md-offset-3 col-md-6 text-center">

        <h1>Event creation</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="form-bottom-margin" type="submit" value="Create"/>
        {{ form_end(form) }}

        <ul class='list-unstyled'>
            <li class="form-bottom-margin">
                <a class="btn btn-default href=" {{ path('workshop_event_index') }} ">Back to the list</a>
            </li>
        </ul>
    </div>
{% endblock %}