{% extends 'base.html.twig' %}

{% block body %}
    <h2>Planning</h2>
    <table class="table">
        
    {% for event in events %}
    <tr>
        <td>{{ event.date|date("d-m-Y H:i") }}</td>
        <td>nom de l'atelier</td>
        <td>{{ event.title }}</td>
    <!-- : <br> -->
    </tr>
    {% endfor %}
    
    </table>
{% endblock %}